.form {
    $root: &;

    input,
    textarea {
    width: 100%;
    min-height: 10rem;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    padding: 1.25rem;
    margin-bottom: 1.875rem;
    outline: none;
    color: #333333;
    line-height: 1.375rem;
    }
    
    textarea {
    min-height: 10rem;
    }
    
    textarea::placeholder {
    line-height: 1.375rem;
    color: #999999;
    }
    
    input {
      min-height: 3.125rem;
      height: 3.125rem;
      padding: 0.875rem 1.25rem;
    }
  
    &__row {
      display: flex;
    }
  
    &__row--buttons {
      display: flex;
      justify-content: space-between;
    }
    
    .form__button {
      max-width: 137px;
      border-radius: 10px;
      padding: 0.625rem 2.125rem;
    }
  }