mixin todo(props)
    section.todo&attributes(attributes)
        h2.visually-hidden Задачи
        p.todo__empty.hidden Список задач пуст

        ul.todo__list
            block

        button(aria-label="Добавить задачу").button.todo__button--add
            
                
