mixin todo(props)
    section.todo&attributes(attributes)
        h2.visually-hidden Задачи
        p.todo__empty.hidden Список задач пуст

        - let tasksData = ['Пройти стажировку в Онли', 'Побриться', 'Купить молоко', 'Не забыть забрать сына из садика', 'Купить сыр'];

        ul.todo__list
            each task in tasksData
                li.todo__item
                    label.todo__label
                        span.todo__span= task
                        input(type="checkbox").visually-hidden.todo__check-input
                        span.todo__checkbox
                    button.todo__action
            

        button(aria-label="Добавить задачу").button.todo__button--add
            
                
