.header {
  $root: &;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.75rem;
    padding-bottom: 3.0625rem;
  }

  &__h1 {
    font-weight: 800;
    font-size: 1.75rem;
    line-height: 2.5625rem;
  }

  &__button-cancel {
    display: none;
  }

  &__button-cancel.show {
    display: block;
  }

  &__button-edit.hidden {
    display: none;
  }
}
