mixin header(props)
    header&attributes(attributes).header
        .container.header__wrapper 
            h1.header__h1 Сегодня
            button.button.header__button-edit Править
            button.button.header__button-cancel Отменить
